<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>アパート管理システム</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	<div class="text-center mt-4">
		<h1>アパート管理システム</h1>

		<th:block th:if="${session.adminLoginId}">


			<a class="btn btn-primary btn-lg mt-4 mr-2" th:href="@{/admin/ownerList}"> オーナー一覧・新規登録・編集・削除 </a>
			<a class="btn btn-primary btn-lg mt-4 ml-2" th:href="@{/admin/apartList}"> アパート一覧・新規登録・編集・削除 </a>
			<p><a class="mt-4 ml-4 btn btn-secondary" th:href="@{/adminHome/logout}">ログアウト
				</a></p>
		</th:block>

		<th:block th:unless="${session.adminLoginId}">
			<p>ログインID：aki
			</p>
			<p>パスワード：123
			</p>

			<form class="mt-4" action="" method="post" th:object="${admin}">
				<span th:errors="*{loginId}" class="error"></span>
				<p class="mt-2">ログインID：
					<input type="text" th:field="*{loginId}">
				</p>
				<p>パスワード：<input type="password" th:field="*{loginPass}"></p>
				<input class="btn btn-primary" type="submit" value="ログイン">
			</form>
		</th:block>

	</div>

</body>

</html>